* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
}

:root {
    --color-background: #f3f5fc;
    --color-principal: #0a3871;
}

.container-principal {
    height: 100vh;
    width: 100vw;
    padding: 30px;
    background-color: var(--color-background);
}

.container-logo {

    width: 120px;
    height: 48px;
}

.container-input {

    height: 879px;
    width: 1300px;
    padding: 80px;
    background-color: var(--color-background);
}

.input {
    background: transparent;
    border: none;
    outline: none;
    font-size: 40px;
    color: var(--color-principal);
    border: none;
}

::placeholder {
    color: var(--color-principal);
    font-size: 40px;

}

.btns-container {
    width: 1115px;
    height: 67px;
    margin-top: 20px;
}

.btn-encriptar,
.btn-desencriptar {
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: none;
    font-size: 24px;
}

.btn-encriptar {
    margin-right: 20px;
    background-color: var(--color-principal);
    color: white;
}

.btn-desencriptar {
    background-color: #d8dfe8;
    border: 1px solid var(--color-principal);
}

.container-output {
    padding: 20px;
    height: 879px;
    width: 400px;
    background-color: white;
    border-radius: 32px;
}

.title-output {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: black;
    margin-top: 20px;
    padding: 20px;
}

.text-output {
    color: rgb(73, 66, 66);
}

.container-text-output {
    width: 320px;
    height: 600px;
    overflow: auto;
}

.salida-btn {
    font-size: 20px;
    font-weight: 500;
    text-align: start;
    color: var(--color-principal);
    padding: 20px;
}

.btn-copiar {
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: none;
    font-size: 24px;
    margin-top: 20px;
    background-color: var(--color-principal);
    color: white;
}